.control {
  display: flex;
  flex-direction: column;
  width: fit-content;
  transition: $transition-settings;

  &--type {
    align-items: center;
    border: 1px solid #9b9b9b;
    // border-radius: 1em;
    color: #000;
    cursor: pointer;
    display: flex;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 1em;
    margin: 0;
    padding: 0.6em 0.5em;
    font-size: 4.5vmin;

    &:nth-of-type(2n + 1) {
      border-top-left-radius: 1em;
    }
    &:nth-of-type(3n + 1) {
      border-bottom-right-radius: 1em;
    }

    &:has(.control__input:checked) {
      color: #fff;
      background-color: $prim-color;
      border-color: $prim-color;

      span {
        color: inherit;
      }
    }

    &:hover {
      background-color: #f8e2c4;
    }
  }

  &--theme {
    opacity: 0;
    font-size: 4.5vmin;
  }

  &__input {
    padding: 10px 12px;
    border: none;
    background: none;

    &--theme {
      border-bottom: solid 2px;
      border-radius: 0 0 7px 0;
      font-size: 4.5vmin;
      // width: 260px; // add als thema is toegevoegd als tag
    }

    &[type="radio"] {
      padding: 0;
      appearance: none;
    }
  }
}
