.page {
  padding: 0 2em;
}

body:has([open]) .page {
  filter: blur(10px);
}

.home {
  inset: 0;
  display: grid;
  place-items: center;
  place-content: center;
  width: 100%;
  height: 100%;
  transform: translateY(-100%);
  transition: all 300ms ease-in-out;
  background-color: $bg-color;
  border: 10px solid black;
  &--visible {
    transform: translateY(0);
  }
}
