<dialog class="galgje" data-loading>
  <section class="word" data-word></section>
  <section class="options" data-options></section>
  <button class="cta" data-next-word>Volgend woord</button>
</dialog>