<dialog class="home home--visible" data-home>
  <h1 class="title title--h0">De Stads Dichter</h1>

  <button class="cta cta__start" data-home-btn>
    <span>Start</span>
    <img class="logo" src="/assets/veer.svg" width="60px" />
  </button>

  <div class="ornaments">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>

</dialog>

<main class="container page">
  <h1 class="title title--h1">Genereer een tekst</h1>
  <section method="POST" target="/api/poetry" class="generator">
    <fieldset class="fieldset">
      <legend class="fieldset__legend title title--h2">Stijl</legend>
      <p class="text text--big text--fw">Selecteer een thema</p>
      <label class="control control--type">
        <span class="control__label">Limerick</span>
        <input
          class="control__input"
          type="radio"
          name="type"
          value="limerick"
          required
        />
      </label>
      <label class="control control--type">
        <span class="control__label">Elevenie</span>
        <input
          class="control__input"
          type="radio"
          name="type"
          value="elevenie"
          required
        />
      </label>
      <label class="control control--type">
        <span class="control__label">Ollekebolleke</span>
        <input
          class="control__input"
          type="radio"
          name="type"
          value="ollekebolleke"
          required
        />
      </label>
      <label class="control control--type">
        <span class="control__label">Snelsonnet</span>
        <input
          class="control__input"
          type="radio"
          name="type"
          value="snelsonnet"
          required
        />
      </label>
      <label class="control control--type">
        <span class="control__label">Haiku</span>
        <input class="control__input" type="radio" name="type" value="haiku" />
      </label>
      <label class="control control--type">
        <span class="control__label">Romantisch drama plot</span>
        <input
          class="control__input"
          type="radio"
          name="type"
          value="romantisch drama plot"
          required
        />
      </label>
      <label class="control control--type">
        <span class="control__label">Tragedie plot</span>
        <input
          class="control__input"
          type="radio"
          name="type"
          value="tragedie plot"
          required
        />
      </label>
      <label class="control control--type">
        <span class="control__label">Manifest</span>
        <input
          class="control__input"
          type="radio"
          name="type"
          value="manifest"
          required
        />
      </label>
      <label class="control control--type">
        <span class="control__label">Essay</span>
        <input
          class="control__input"
          type="radio"
          name="type"
          value="essay"
          required
        />
      </label>
      <label class="control control--type">
        <span class="control__label">Toneel Opening Tragedie</span>
        <input
          class="control__input"
          type="radio"
          name="type"
          value="toneel opening tragedie"
        />
      </label>
      <label class="control control--type">
        <span class="control__label">Six Word Story</span>
        <input
          class="control__input"
          type="radio"
          name="type"
          value="six word story"
          required
        />
      </label>
      <label class="control control--type">
        <span class="control__label">Toneel Opening Komedie</span>
        <input
          class="control__input"
          type="radio"
          name="type"
          value="toneel opening komedie"
          required
        />
      </label>
    </fieldset>

    <label class="control control--theme" data-thema>
      <span class="control__label title title--h2">Thema(s)</span>
      <input
        class="control__input control__input--theme"
        required
        type="text"
        id="theme"
        name="theme"
        placeholder="Thema"
      />
    </label>

    <button class="cta cta--hidden" type="submit" data-submit>Genereer Tekst</button>
  </section>

  {{> loading }}

  <section id="output" data-outlet></section>

  <aside></aside>
</main>