$offset: 10px;

.ornaments {
  span {
    position: absolute;
    width: 10em;
    aspect-ratio: 1;
    background-image: url("/assets/corner.svg");
    background-size: contain;

    &:first-of-type {
      top: $offset;
      left: $offset;
      transform: rotate(-90deg);
    }

    &:nth-of-type(2) {
      top: $offset;
      right: $offset;
    }

    &:nth-of-type(3) {
      bottom: $offset;
      right: $offset;
      transform: rotate(90deg);
    }

    &:nth-of-type(4) {
      bottom: $offset;
      left: $offset;
      transform: rotate(-180deg);
    }
  }
}
