.fieldset {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  // padding: 10px;
  border: none;

  &:valid {
    & + .control {
      opacity: 1;
    }

    & .control--type {
      font-size: 20px;
    }
  }
}
