.nav {
	&__list {
		display: flex;
		gap: 10px;



		a {
			text-decoration: none;
			color: $tet-color;
			font-weight: bold;
			transition: 0.3s ease-in-out;

        &:hover {
                text-decoration: underline;
                text-underline-offset: 5px;
            }
		}
	}
}
